*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(218, 172, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 80%;
    margin: 0px auto;
    border: 5px solid black;
}
header{
    background-color: lightskyblue;
    height: 80px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(227, 206, 255);

}

nav{
    background-color: lightskyblue;
    height: 50px;
    border-bottom: 5px solid whitesmoke;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;

}
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: 69%;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 20px;

}

.article :first-child{
    color: rgb(209, 206, 255);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #eb99e7;
}

.article :first-child{
    padding-top: 10px;
    border-top: 1px solid #b494ff;
}

.article h2{
    font-size: 25px;
}

aside{
    float: right;
    width: 26%;
    min-height: 500px;
    background-color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

footer{
    background-color: rgb(150, 150, 250);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}