*{
    margin: 0px;
    padding: 0px; 
}
body{
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 90%;
    margin: 0px auto;
    border: 5px solid #385170;
    background-color: #9fd3c7;
}
header{
    background-color:#142d4c;
    height: 80px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: #9fd3c7;
    border-bottom: 5px solid #385170;
}
nav{
    background-color: #9fd3c7;
    height: 50px;
    border-bottom: 5px white;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{ clear: both;}
#content{
float: left;
width: 69%;
min-height: max-content;
background-color:#839bac;
padding: 20px;
}
.article :first-child{
    color:#ececec;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #142d4c;
}

.article :first-child{
    padding-top: 10px;
    border-top: 1px solid #142d4c;
}

.article h2{
    font-size: 25px;
    color: #9fd3c7;

aside{
    float: left;
    width: 26px;
    min-height: 660px;
    background-color: #9fd3c7;
    padding-left: 5px;
    padding-right: 5px;
padding-top: 10px;
}
footer{
    background-color: #142d4c;
    color:#9fd3c7;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

